*.py[co]
.DS_Store
*.o
.pubmed_cache.db
MEDRank/tests/*.csv*
MEDRank/tests/*.txt
MEDRank/tests/metamap_profile
data/*.db
data/*.p
data/*.bz2
data/*.bin
data/raw_data/*
MEDRank/tests/_distmat.so
MEDRank/computation/distance/_distmat.so
MEDRank/computation/_distmat.so
MANIFEST
build
dist
[*.so]
*.*~
#*#
